<section class='detail-rest'>
    <article class='info-restaurant'>
        <h2>Informacion del restaurante:</h2>
        <hr>
        {{!-- <img src="{{logo}}" alt="logo"> --}}
        <p>Nombre: {{name}}</p>
        <p>Direccion: {{address}}</p>
        <p>Telefono: {{phone}}</p>
        <p>Email: {{email}}</p>
        <p>Horario: {{opening}}</p>
    </article>

    <article class='info-restaurant'>
        <h2>Menu:</h2>
        <hr>
        <ul>
            {{!-- {{ resdetail}} --}}
            <li>Entrantes:
                {{#each dailyMenu.starters}}
                <p>{{this.name}}</p>
                {{/each}}
            </li>
            <li>Principales:
                {{#each dailyMenu.main}}
                <p>{{this.name}}</p>
                {{/each}}
            </li>
            <li>Postres:
                
                {{#each dailyMenu.dessert}}
                <p>{{this.name}}</p>
                {{/each}}
            </li>

        </ul>
        <p>Precio: {{dailyMenu.price}}$</p>

    </article>


</section>