<section class='detail-rest'>
    <article class='info-restaurant'>
        <h2>Informacion del restaurante:</h2>
        <hr>
        {{!-- <img src="{{logo}}" alt="logo"> --}}
        <p>Nombre: {{name}}</p>
        <p>Direccion: {{address}}</p>
        <p>Telefono: {{phone}}</p>
        <p>Email: {{email}}</p>
        <p>Horario: {{opening}}</p>
    </article>

    <article class='info-restaurant'>
        <h2>Menu:</h2>
        <hr>
        <ul>
            {{!-- {{ resdetail}} --}}
            <li>Entrantes:
                {{#each dailyMenu.starters}}
                <p>{{this.name}}</p>
                {{/each}}
            </li>
            <li>Principales:
                {{#each dailyMenu.main}}
                <p>{{this.name}}</p>
                {{/each}}
            </li>
            <li>Postres:
                {{#each dailyMenu.dessert}}
                <p>{{this.name}}</p>
                {{/each}}
            </li>

        </ul>
        <p>Precio: {{dailyMenu.price}}$</p>

    </article>


</section>
<form class='pedido' action="/user/order/{{_id}}" method="post">

    <div class="form-group">
        <label class='choose' for="pedido">Elige</label>
        <select class="form-control" id="" name="starter">
            {{#each dailyMenu.starters}}
            <option value="{{this.name}}">{{this.name}}</option>
            {{/each}}
        </select>
    </div>

    <div class="form-group">

        <select class="form-control" id="" name="main">
            {{#each dailyMenu.main}}
            <option value="{{this.name}}">{{this.name}}</option>
            {{/each}}
        </select>
    </div>

    <div class="form-group">

        <select class="form-control" id="" name="dessert">
            {{#each dailyMenu.dessert}}
            <option value="{{this.name}}">{{this.name}}</option>
            {{/each}}
        </select>
    </div>


    <p class='textPrice'>Precio</p>
    <input class='valuePrice' type="number" name='price' value="{{dailyMenu.price}}" readonly>
    

    <button type='submit' class='btn btn-primary' id='buscar'>Pedir</button>

</form>