<main>
    <section class='index-user'>

        <div class="row">
            <div class="col-2 box-profile">
                <div>
                    <article class='box'>
                        <h1>Bienvenido {{user.name}}</h1>
                        <hr>
                        <p>Email:{{user.email}}</p>
                        <p>Telefono: {{user.phone}}</p>

                        <a class="btn btn-sm btn-dark" href="/user/update-user/{{user._id}}">Actualizar</a>
                        <a class="btn btn-sm btn-dark" href="/user/delete-user/{{user._id}}">Eliminar</a>
                        <a class="btn btn-sm btn-dark" href="/user/logout">Cierra Sesion</a>
                    </article>



                    <div id="accordion" class='box'>
                        <div class="card">
                            <div class="card-header">
                                <h5>
                                    <a href="#collapse1" class='favoritos' data-parent="#accordion"
                                        data-toggle="collapse">
                                        Favoritos
                                    </a>
                                </h5>
                            </div>

                            <div id="collapse1" class="collapse show">
                                <div class="card-body">
                                    <ul>
                                        <li class='favoritos-rest'>
                                            {{#each user.favRestaurants}}
                                            <a href='/user/restaurant-detail/{{this._id}}'><img src="{{this.logo}}"
                                                    alt="{{this.name}}"></a>
                                            {{/each}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="accordion" class='box'>
                        <div class="card">
                            <div class="card-header">
                                <h5>
                                    <a href="#collapse2" class='favoritos' data-parent="#accordion"
                                        data-toggle="collapse">
                                        Pedidos
                                    </a>
                                </h5>
                            </div>

                            <div id="collapse2" class="collapse">
                                <div class="card-body">
                                    <p>{{user.order.starter}}</p>
                                    <p>{{user.order.main}}</p>
                                    <p>{{user.order.dessert}}</p>
                                    <p>precio: {{user.order.price}}€</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <select id="meters">
                        <option value="300">300</option>
                        <option value="500">500</option>
                        <option value="800">800</option>
                        <option value="1000">1000</option>
                    </select>
                    <button id="search">search</button>


                </div>
            </div>

<<<<<<< HEAD
                                <div id="collapse1" class="collapse show">
                                    <div class="card-body">
                                    <select id="meters">
                                        <option value="300">300</option>
                                        <option value="500">500</option>
                                        <option value="800">800</option>
                                        <option value="1000">1000</option>
                                    </select>
                                    <button id = "search">search</button>
                                    </div>
                                </div>
                            </div>
                        </div>
=======


>>>>>>> 60e8f3debefaacef2c1f678f9a8c3aa87299ef42


<<<<<<< HEAD
                    </div> --}}
                    </div>
                </div>
                
                <div class="col-10">
                    <div class='profile-user'>
                        <h2>Lista de Restaurantes cercanos</h2>

                        <ul class='flex'>
                            {{#each restaurant}}
                            <li>
                                <a href="/user/restaurant-detail/{{this._id}}">{{this.name}}</a>
                            </li>
                            {{!-- <a class="btn btn-sm btn-dark" href="/user/index/{{_id}}">Añadir a favoritos</a> --}}
                            {{/each}}
                            {{!-- <a class="btn btn-sm btn-dark" href="/user/favoritos/{{user._id}}">ver favoritos</a> --}}
                        </ul>
                    </div>
                    <div id="restaurantsMap"></div>
                    <button class='btn btn-primary' id='buscar'>Buscar</button>
                </div>
           
            
=======
            <div class="col-10">
                <div class='profile-user'>
                    <h2>Lista de Restaurantes cercanos</h2>

                    <ul id="lista" class='flex'>
                        {{#each restaurant}}
                        <li>
                            <a href="/user/restaurant-detail/{{this._id}}">{{this.name}}</a>
                        </li>
                        {{/each}}
                        {{!-- <a class="btn btn-sm btn-dark" href="/user/favoritos/{{user._id}}">ver favoritos</a> --}}
                    </ul>
                </div>

                <div id="restaurantsMap"></div>
                <button class='btn btn-primary' id='buscar'>Buscar</button>
            </div>

        </div>
>>>>>>> 60e8f3debefaacef2c1f678f9a8c3aa87299ef42
    </section>
</main>



<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/javascripts/update.userPosition.js"></script>
<script src="/javascripts/mapUser.js"></script>
<script src="/javascripts/findRestaurants.js"></script>


<script src="https://maps.googleapis.com/maps/api/js?key={{key}}&callback=initMap"></script>