<main>
    <section class='profile-user'>
        <article>
            <h1>Bienvenido {{user.name}}</h1>
            <p>Email:{{user.email}}</p>
            <p>Telefono: {{user.phone}}</p>

        </article>

    </section>
</main>

<h2>Restaurantes favoritos:</h2>

<ul>
    {{#each user.favourites}}
    <li>{{user.favourites}}</li>
    {{/each}}

</ul>


<h1>y aquí su localización en el mapa</h1>

<div id="restaurantsMap"></div>

<button id='buscar'>Buscar</button>


<script src="/javascripts/mapUser.js"></script>
<script>
    const buscar = () => console.log('hola')
    document.querySelector('#buscar').addEventListener('click', buscar)
</script>
<script src="https://maps.googleapis.com/maps/api/js?key={{key}}&callback=initMap"></script>