<main>
    <section class='index-user'>
        <div class="flex-header">
            <article class='profile-user'>
                <h1>Bienvenido: {{user.name}}</h1>
                <p>Email:{{user.email}}</p>
                <p>Telefono: {{user.phone}}</p>
                <a class="btn btn-sm btn-dark" href="/user/update-user/{{user._id}}">Actualizar</a>
                <a class="btn btn-sm btn-dark" href="/user/delete-user/{{user._id}}">Eliminar</a>
            </article>
            <div class="profile-user">
                <h2>Pedidos:</h2>
            </div>


            <div class='profile-user'>
                <h2>Restaurantes favoritos:</h2>
                <ul>
                    {{#each user.favourites}}
                    <li>{{this.name}}</li>
                    {{/each}}
                </ul>

            </div>
        

        </div>

        <div id="restaurantsMap"></div>
        <button class='btn btn-primary' id='buscar'>Buscar</button>


    </section>
</main>


<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/javascripts/findRestaurants.js"></script>
<script src="/javascripts/mapUser.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?key={{key}}&callback=initMap"></script>