<main>
    <section class='index-user'>
        <div class="flex-header">
            <article class='profile-user'>
                <h1>Bienvenido: {{user.name}}</h1>
                <p>Email:{{user.email}}</p>
                <p>Telefono: {{user.phone}}</p>
                <a class="btn btn-sm btn-dark" href="/user/update-user/{{user._id}}">Actualizar</a>
                <a class="btn btn-sm btn-dark" href="/user/delete-user/{{user._id}}">Eliminar</a>
                <a class="btn btn-sm btn-dark" href="/user/logout">Cierra Sesion</a>
            </article>
            <div class="profile-user">
                <h2>Pedidos:</h2>
                <p>{{user.order.main}}</p>



            </div>


            <div class='profile-user'>
                <h2>Lista de Restaurantes cercanos:</h2>
                <hr>
                <ul>
                    {{#each restaurant}}
                    <li>
                        <a href="/user/restaurant-detail/{{this._id}}">{{this.name}}</a>
                        
                    </li>

                    {{/each}}
                {{!-- <a class="btn btn-sm btn-dark" href="/user/favoritos/{{user._id}}">ver favoritos</a> --}}
                </ul>
            </div>
        

        </div>

        <div id="restaurantsMap"></div>
        <button class='btn btn-primary' id='buscar'>Buscar</button>


    </section>
</main>


<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/javascripts/findRestaurants.js"></script>
<script src="/javascripts/mapUser.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?key={{key}}&callback=initMap"></script>